In [27]:
# importing library and read in data
import pandas as pd

player15 = pd.read_csv('Data/player/players_15.csv');

C:\Users\kenfa\AppData\Local\Temp\ipykernel_34716\3183781485.py:4: DtypeWarning: Columns (104) have mixed types. Specify dtype option on import or set low_memory=False.
  player15 = pd.read_csv('Data/player/players_15.csv');

In [28]:
# player15 = player15.drop(labels=['player_face_url', 'club_logo_url', 'club_flag_url', 'nation_logo_url', 'nation_flag_url',
#                                   'rb', 'gk','rcb','cb','lcb','lb','rwb','rdm','cdm','ldm','lwb', 'rm', 'rcm','cm','lcm',
#                                   'lm', 'ram', 'cam', 'lam', 'rw', 'rf', 'cf', 'lf', 'lw', 'rs', 'st', 'ls', ''], axis=1);

player15 = player15[['sofifa_id','short_name','short_name','long_name', 'value_eur', 'wage_eur', 'age', 'height_cm', 
                     'weight_kg','club_team_id', 'club_name','nationality_id', 'nationality_name']]

In [29]:
player15.head()

,sofifa_id,short_name,short_name,long_name,value_eur,wage_eur,age,height_cm,weight_kg,club_team_id,club_name,nationality_id,nationality_name
0,158023,L. Messi,L. Messi,Lionel Andrés Messi Cuccittini,100500000.0,550000.0,27,169,67,241.0,FC Barcelona,52,Argentina
1,20801,Cristiano Ronaldo,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,79000000.0,375000.0,29,185,80,243.0,Real Madrid CF,38,Portugal
2,9014,A. Robben,A. Robben,Arjen Robben,54500000.0,275000.0,30,180,80,21.0,FC Bayern München,34,Netherlands
3,41236,Z. Ibrahimović,Z. Ibrahimović,Zlatan Ibrahimović,52500000.0,275000.0,32,195,95,73.0,Paris Saint-Germain,46,Sweden
4,167495,M. Neuer,M. Neuer,Manuel Peter Neuer,63500000.0,300000.0,28,193,92,21.0,FC Bayern München,21,Germany